<h1> Bonjour!vérifier votre email!</h1>

<p>
    Vérifier votre email en cliquant sur le lien ci dessousn : <br><br>
    <a href="{{ signedUrl|raw }}">Confirmer votre email</a>.
    Ce lien expire dans{{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>
    Merci!
</p>
