<!-- footer -->
<footr>
    <div class="footer">
        <div class="container">
            <div class="row">

            </div>
            <div class="row">
                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12">
                    <div class="contact">
                        <h3>Adresse </h3>
                        <span>33400 Talence,<br>
                  Universite de Bordeaux<br>
                  abassdiallo74@gmail.com</span>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12">

                </div>
                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12">

                </div>
                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12">

                </div>
            </div>
        </div>
        <div class="copyright">
            <p>Copyright 2024 Trous droits reserves</p>
        </div>
    </div>
</footr>
<!-- end footer -->
